<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"     
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.easycms.entity.Account">
    <!-- 插入操作 -->
	<insert id="add" parameterType="account">
	   insert into account(username,password) values(#{username},#{password})
	</insert>
	<!-- 删除操作 -->
	<delete id="delete" parameterType="int">
	  delete from account where id=#{id}
	</delete>
	<!-- 修改操作 -->
	<update id="update" parameterType="account">
	  update account set username=#{username},password=#{password} where id=#{id}
	</update>
	<!--  查询操作-->
	<select id="findById" parameterType="int" resultType="account">
	  select * from account where id=#{id}
	</select>
	<!-- 查询全部 -->
	<select id="findAll" resultType="account">
	   select * from account
	</select>
	<!-- 分页查询 -->
	<select id="findByPage" resultType="account" parameterType="map">
	  select * from account limit #{showPages},#{pageSize}
	</select>
	<!-- 总页数 -->
	<select id="findTotal" resultType="int" parameterType="int">
	  select count(*) from account
	</select>
</mapper>