<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"     
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.easycms.entity.CmsMessage">
    <!-- 插入操作 -->
	<insert id="add" parameterType="log">
	    
	</insert>
	<!-- 分页查询 -->
	<select id="findByPage" resultType="log" parameterType="map">
	
	</select>
	<!-- 总页数 -->
	<select id="findTotal" resultType="int" parameterType="int">
	
	</select>
	<!-- 条件查询 -->
	<select id="findByKey" resultType="log" parameterType="map">

	</select>
	<!-- 总数 -->
	<select id="findByKeyTotal" resultType="int" parameterType="map">

	</select>
	
	<!-- 删除操作 -->
	<delete id="delete" parameterType="int">
	  
	</delete>
	<!-- 批量删除 -->
	<delete id="deleteIn" parameterType="java.util.List">

	</delete>
</mapper>    