<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"     
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.easycms.entity.CmsUser">
    <!-- 插入操作 -->
	<insert id="add" parameterType="user">
	  <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
	      SELECT LAST_INSERT_ID()
	  </selectKey>
	  insert into ec_user(group_id,username,password,email) values(#{group_id},#{username},#{password},#{email})
	</insert>
	<!-- 删除操作 -->
	<delete id="delete" parameterType="int">
	  delete from ec_user where id=#{id}
	</delete>
	<!-- 批量删除 -->
	<delete id="deleteIn" parameterType="java.util.List">
	  delete from ec_user where id in
	  <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
	      ${item}
	  </foreach>
	</delete>
	<!-- 修改操作 -->
	<update id="update" parameterType="user">
	  update ec_user set group_id=#{group_id},username=#{username},password=#{password},email=#{email} where id=#{id}
	</update>
	<!--  查询操作-->
	<select id="findById" resultMap="userMap" parameterType="int">
	  select 
	  	u.id, u.group_id, u.username, u.password, u.email, g.name
	  from 
	  	ec_user u, ec_group g 
	  where 
	  	u.id=#{id} and u.group_id=g.id
	</select>
	<resultMap type="user" id="userMap">
	    <id property="id" column="id"/>
	    <result property="group_id" column="group_id"/>
	    <result property="username" column="username"/>
	    <result property="password" column="password"/>
	    <result property="email" column="email"/>
	    <association property="userGroup" resultMap="com.easycms.entity.CmsUserGroup.groupMap"></association>
	</resultMap>
	
	<resultMap type="user" id="msgUserMap">
	    <id property="id" column="id"/>
	    <result property="username" column="username"/>
	</resultMap>
	
	<!-- 查询全部 -->
	<select id="findAll" resultMap="userMap">
	  select 
	  	u.id, u.group_id, u.username, u.password, u.email, g.name
	  from 
	  	ec_user u, ec_group g 
	  where 
	  	u.group_id=g.id
	</select>
	<!-- 分页查询 -->
	<select id="findByPage" resultMap="userMap" parameterType="map">
	  select 
	  	u.id, u.group_id, u.username, u.password, u.email, g.name
	  from 
	  	ec_user u, ec_group g 
	  where 
	  	u.group_id=g.id
	  order by 
	  	id desc
	  limit 
	    #{showPages},#{pageSize} 
	</select>
	<!-- 总页数 -->
	<select id="findTotal" resultType="int" parameterType="int">
	  select count(*) from ec_user
	</select>
    <!-- 根据用户名获得对象 -->
	<select id="findByName" resultType="user" parameterType="user">
	  select * from ec_user where username=#{username}
	</select>
	<!-- 登陆操作 -->
	<select id="login" resultType="user" parameterType="user">
	  select * from ec_user where username=#{username} and password=#{password}
	</select>
</mapper>    