<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"     
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.easycms.entity.CmsUserGroup">
    <!-- 插入操作 -->
	<insert id="add" parameterType="userGroup">
	 insert into ec_group(name, priority, allowPerDay, allowMaxFile, allowSuffix, needCaptcha, needCheck)
	 values(#{name}, #{priority}, #{allowPerDay}, #{allowMaxFile}, #{allowSuffix}, #{needCaptcha}, #{needCheck})
	</insert>
	<!-- 删除操作 -->
	<delete id="delete" parameterType="int">
	  delete from ec_group where id=#{id}
	</delete>
	<!-- 修改操作 -->
	<update id="update" parameterType="userGroup">
	  update ec_group set name=#{name}, priority=#{priority}, allowPerDay=#{allowPerDay}, allowMaxFile=#{allowMaxFile}, allowSuffix=#{allowSuffix}, needCaptcha=#{needCaptcha}, needCheck=#{needCheck} where id=#{id}
	</update>
	<!--  查询操作-->
	<select id="findById" parameterType="int" resultType="userGroup">
	  select * from ec_group where id=#{id}
	</select>
	<!-- 查询全部 -->
	<select id="findAll" resultType="userGroup">
	   select * from ec_group
	</select>
	<!-- 分页查询 -->
	<select id="findByPage" resultType="userGroup" parameterType="map">
	  select * from ec_group limit #{showPages},#{pageSize}
	</select>
	<!-- 总页数 -->
	<select id="findTotal" resultType="int" parameterType="int">
	  select count(*) from ec_group
	</select>
</mapper>