/* dialog
----------------------------------*/
.dialog-content {
  overflow: auto;
}
.dialog-toolbar {
  padding: 2px 5px;
}
.dialog-tool-separator {
  float: left;
  height: 24px;
  border-left: 1px solid #ccc;
  border-right: 1px solid #fff;
  margin: 2px 1px;
}
.dialog-button {
  padding: 5px;
  text-align: right;
}
.dialog-button .l-btn {
  margin-left: 5px;
}
.dialog-toolbar,
.dialog-button {
  background: #F5F5F5;
}
.dialog-toolbar {
  border-bottom: 1px solid #e6e6e6;
}
.dialog-button {
  border-top: 1px solid #e6e6e6;
}
/* layout
----------------------------------*/
.layout {
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  z-index: 0;
}
.layout-panel {
  position: absolute;
  overflow: hidden;
}
.layout-panel-east,
.layout-panel-west {
  z-index: 2;
}
.layout-panel-north,
.layout-panel-south {
  z-index: 3;
}
.layout-expand {
  position: absolute;
  padding: 0px;
  font-size: 1px;
  cursor: pointer;
  z-index: 1;
}
.layout-expand .panel-header,
.layout-expand .panel-body {
  background: transparent;
  filter: none;
  overflow: hidden;
}
.layout-expand .panel-header {
  border-bottom-width: 0px;
}
.layout-split-proxy-h,
.layout-split-proxy-v {
  position: absolute;
  font-size: 1px;
  display: none;
  z-index: 5;
}
.layout-split-proxy-h {
  width: 5px;
  cursor: e-resize;
}
.layout-split-proxy-v {
  height: 5px;
  cursor: n-resize;
}
.layout-mask {
  position: absolute;
  background: #fafafa;
  filter: alpha(opacity=10);
  opacity: 0.10;
  z-index: 4;
}
.layout-button-up {
  background: url('../images/easyui/layout_arrows.png') no-repeat -16px -16px;
}
.layout-button-down {
  background: url('../images/easyui/layout_arrows.png') no-repeat -16px 0;
}
.layout-button-left {
  background: url('../images/easyui/layout_arrows.png') no-repeat 0 0;
}
.layout-button-right {
  background: url('../images/easyui/layout_arrows.png') no-repeat 0 -16px;
}
.layout-split-proxy-h,
.layout-split-proxy-v {
  background-color: #bbb;
}
.layout-split-north {
  border-bottom: 5px solid #eee;
}
.layout-split-south {
  border-top: 5px solid #eee;
}
.layout-split-east {
  border-left: 5px solid #eee;
}
.layout-split-west {
  border-right: 5px solid #eee;
}
.layout-expand {
  background-color: #f4f4f4;
}
.layout-expand-over {
  background-color: #f4f4f4;
}

/* btn
----------------------------------*/
a.l-btn {
  background-position: right 0;
  text-decoration: none;
  display: inline-block;
  zoom: 1;
  height: 24px;
  padding-right: 18px;
  cursor: pointer;
  outline: none;
}
a.l-btn-plain {
  padding-right: 5px;
  border: 0;
  padding: 1px 6px 1px 1px;
}
a.l-btn-disabled {
  color: #ccc;
  opacity: 0.5;
  filter: alpha(opacity=50);
  cursor: default;
}
a.l-btn span.l-btn-left {
  display: inline-block;
  background-position: 0 -48px;
  padding: 4px 0px 4px 18px;
  line-height: 16px;
  height: 16px;
}
a.l-btn-plain span.l-btn-left {
  padding-left: 5px;
}
a.l-btn span span.l-btn-text {
  display: inline-block;
  vertical-align: baseline;
  width: auto;
  height: 16px;
  line-height: 16px;
  font-size: 12px;
  padding: 0;
  margin: 0;
}
a.l-btn span span.l-btn-icon-left {
  padding: 0 0 0 20px;
  background-position: left center;
}
a.l-btn span span.l-btn-icon-right {
  padding: 0 20px 0 0;
  background-position: right center;
}
a.l-btn span span span.l-btn-empty {
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 16px;
}
a:hover.l-btn {
  background-position: right -24px;
  outline: none;
  text-decoration: none;
}
a:hover.l-btn span.l-btn-left {
  background-position: 0 bottom;
}
a:hover.l-btn-plain {
  padding: 0 5px 0 0;
}
a:hover.l-btn-disabled {
  background-position: right 0;
}
a:hover.l-btn-disabled span.l-btn-left {
  background-position: 0 -48px;
}
a.l-btn .l-btn-focus {
  outline: #0000FF dotted thin;
}
a.l-btn {
  color: #444;
  background-image: url('../images/easyui/linkbutton_bg.png');
  background-repeat: no-repeat;
  background: #f5f5f5;
  background-repeat: repeat-x;
  border: 1px solid #bbb;
  background: -webkit-linear-gradient(top,#ffffff 0,#e6e6e6 100%);
  background: -moz-linear-gradient(top,#ffffff 0,#e6e6e6 100%);
  background: -o-linear-gradient(top,#ffffff 0,#e6e6e6 100%);
  background: linear-gradient(to bottom,#ffffff 0,#e6e6e6 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff,endColorstr=#e6e6e6,GradientType=0);
}
a.l-btn span.l-btn-left {
  background-image: url('../images/easyui/linkbutton_bg.png');
  background-repeat: no-repeat;
  background-image: none;
}
a:hover.l-btn {
  background: #e6e6e6;
  color: #00438a;
  border: 1px solid #ddd;
  filter: none;
}
a.l-btn-plain,
a.l-btn-plain span.l-btn-left {
  background: transparent;
  border: 0;
  filter: none;
}
a:hover.l-btn-plain {
  background: #e6e6e6;
  color: #00438a;
  border: 1px solid #ddd;
}
a.l-btn-disabled,
a:hover.l-btn-disabled {
  color: #444;
  filter: alpha(opacity=50);
  background: #f5f5f5;
  color: #444;
  background: -webkit-linear-gradient(top,#ffffff 0,#e6e6e6 100%);
  background: -moz-linear-gradient(top,#ffffff 0,#e6e6e6 100%);
  background: -o-linear-gradient(top,#ffffff 0,#e6e6e6 100%);
  background: linear-gradient(to bottom,#ffffff 0,#e6e6e6 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff,endColorstr=#e6e6e6,GradientType=0);
  filter: alpha(opacity=50) progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff,endColorstr=#e6e6e6,GradientType=0);
}
a.l-btn-plain-disabled,
a:hover.l-btn-plain-disabled {
  background: transparent;
  filter: alpha(opacity=50);
}
a.l-btn-selected,
a:hover.l-btn-selected {
  background-position: right -24px;
  background: #ddd;
  filter: none;
}
a.l-btn-selected span.l-btn-left,
a:hover.l-btn-selected span.l-btn-left {
  background-position: 0 bottom;
  background-image: none;
}
a.l-btn-plain-selected,
a:hover.l-btn-plain-selected {
  background: #ddd;
}

/* messager
----------------------------------*/
.messager-body {
  padding: 10px;
  overflow: hidden;
}
.messager-button {
  text-align: center;
  padding-top: 10px;
}
.messager-icon {
  float: left;
  width: 32px;
  height: 32px;
  margin: 0 10px 10px 0;
}
.messager-error {
  background: url('../images/easyui/messager_icons.png') no-repeat scroll -64px 0;
}
.messager-info {
  background: url('../images/easyui/messager_icons.png') no-repeat scroll 0 0;
}
.messager-question {
  background: url('../images/easyui/messager_icons.png') no-repeat scroll -32px 0;
}
.messager-warning {
  background: url('../images/easyui/messager_icons.png') no-repeat scroll -96px 0;
}
.messager-progress {
  padding: 10px;
}
.messager-p-msg {
  margin-bottom: 5px;
}
.messager-body .messager-input {
  width: 100%;
  padding: 1px 0;
  border: 1px solid #D4D4D4;
}

/* panel
----------------------------------*/
.panel {
  overflow: hidden;
  text-align: left;
}
.panel-header,
.panel-body {
  border-width: 1px;
  border-style: solid;
}
.panel-header {
  padding: 5px;
  position: relative;
}
.panel-title {
  background: url('../images/easyui/blank.gif') no-repeat;
}
.panel-header-noborder {
  border-width: 0 0 1px 0;
}
.panel-body {
  overflow: auto;
  border-top-width: 0px;
}
.panel-body-noheader {
  border-top-width: 1px;
}
.panel-body-noborder {
  border-width: 0px;
}
.panel-with-icon {
  padding-left: 18px;
}
.panel-icon,
.panel-tool {
  position: absolute;
  top: 50%;
  margin-top: -8px;
  height: 16px;
  overflow: hidden;
}
.panel-icon {
  left: 5px;
  width: 16px;
}
.panel-tool {
  right: 5px;
  width: auto;
}
.panel-tool a {
  display: inline-block;
  width: 16px;
  height: 16px;
  opacity: 0.6;
  filter: alpha(opacity=60);
  margin: 0 0 0 2px;
  vertical-align: top;
}
.panel-tool a:hover {
  opacity: 1;
  filter: alpha(opacity=100);
  background-color: #e6e6e6;
}
.panel-loading {
  padding: 11px 0px 10px 30px;
}
.panel-noscroll {
  overflow: hidden;
}
.panel-fit,
.panel-fit body {
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
}
.panel-loading {
  background: url('../images/easyui/loading.gif') no-repeat 10px 10px;
}
.panel-tool-close {
  background: url('../images/easyui/panel_tools.png') no-repeat -16px 0px;
}
.panel-tool-min {
  background: url('../images/easyui/panel_tools.png') no-repeat 0px 0px;
}
.panel-tool-max {
  background: url('../images/easyui/panel_tools.png') no-repeat 0px -16px;
}
.panel-tool-restore {
  background: url('../images/easyui/panel_tools.png') no-repeat -16px -16px;
}
.panel-tool-collapse {
  background: url('../images/easyui/panel_tools.png') no-repeat -32px 0;
}
.panel-tool-expand {
  background: url('../images/easyui/panel_tools.png') no-repeat -32px -16px;
}
.panel-header,
.panel-body {
  border-color: #D4D4D4;
}
.panel-header {
  background-color: #f4f4f4;
  background: -webkit-linear-gradient(top,#ffffff 0,#f4f4f4 100%);
  background: -moz-linear-gradient(top,#ffffff 0,#f4f4f4 100%);
  background: -o-linear-gradient(top,#ffffff 0,#f4f4f4 100%);
  background: linear-gradient(to bottom,#ffffff 0,#f4f4f4 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff,endColorstr=#f4f4f4,GradientType=0);
}
.panel-body {
  background-color: #ffffff;
  color: #333;
  font-size: 12px;
}
.panel-title {
  font-size: 12px;
  font-weight: bold;
  color: #777;
  height: 16px;
  line-height: 16px;
}


.progressbar {
  border-width: 1px;
  border-style: solid;
  overflow: hidden;
}
.progressbar-text {
  text-align: center;
  position: absolute;
}
.progressbar-value {
  position: relative;
  overflow: hidden;
  width: 0;
}
.progressbar {
  border-color: #D4D4D4;
}
.progressbar-text {
  color: #333;
  font-size: 12px;
}
.progressbar-value .progressbar-text {
  background-color: #0081c2;
  color: #fff;
}

/* tabs
----------------------------------*/
.tabs-container {
  overflow: hidden;
}
.tabs-header {
  border-width: 1px;
  border-style: solid;
  border-bottom-width: 0;
  position: relative;
  padding: 0;
  padding-top: 2px;
  overflow: hidden;
}
.tabs-header-plain {
  border: 0;
  background: transparent;
}
.tabs-scroller-left,
.tabs-scroller-right {
  position: absolute;
  top: auto;
  bottom: 0;
  width: 18px;
  height: 28px !important;
  height: 30px;
  font-size: 1px;
  display: none;
  cursor: pointer;
  border-width: 1px;
  border-style: solid;
}
.tabs-scroller-left {
  left: 0;
}
.tabs-scroller-right {
  right: 0;
}
.tabs-header-plain .tabs-scroller-left,
.tabs-header-plain .tabs-scroller-right {
  height: 25px !important;
  height: 27px;
}
.tabs-tool {
  position: absolute;
  bottom: 0;
  padding: 1px;
  overflow: hidden;
  border-width: 1px;
  border-style: solid;
}
.tabs-header-plain .tabs-tool {
  padding: 0 1px;
}
.tabs-wrap {
  position: relative;
  left: 0;
  overflow: hidden;
  width: 100%;
  margin: 0;
  padding: 0;
}
.tabs-scrolling {
  margin-left: 18px;
  margin-right: 18px;
}
.tabs-disabled {
  opacity: 0.3;
  filter: alpha(opacity=30);
}
.tabs {
  list-style-type: none;
  height: 26px;
  margin: 0px;
  padding: 0px;
  padding-left: 4px;
  width: 5000px;
  border-style: solid;
  border-width: 0 0 1px 0;
}
.tabs li {
  float: left;
  display: inline-block;
  margin: 0 4px -1px 0;
  padding: 0;
  position: relative;
  border: 0;
}
.tabs li a.tabs-inner {
  display: inline-block;
  text-decoration: none;
  margin: 0;
  padding: 0 10px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  white-space: nowrap;
  border-width: 1px;
  border-style: solid;
}
.tabs li.tabs-selected a.tabs-inner {
  font-weight: bold;
  outline: none;
}
.tabs li.tabs-selected a:hover.tabs-inner {
  cursor: default;
  pointer: default;
}
.tabs li a.tabs-close,
.tabs-p-tool {
  position: absolute;
  font-size: 1px;
  display: block;
  height: 12px;
  padding: 0;
  top: 50%;
  margin-top: -6px;
  overflow: hidden;
}
.tabs li a.tabs-close {
  width: 12px;
  right: 5px;
  opacity: 0.6;
  filter: alpha(opacity=60);
}
.tabs-p-tool {
  right: 16px;
}
.tabs-p-tool a {
  display: inline-block;
  font-size: 1px;
  width: 12px;
  height: 12px;
  margin: 0;
  opacity: 0.6;
  filter: alpha(opacity=60);
}
.tabs li a:hover.tabs-close,
.tabs-p-tool a:hover {
  opacity: 1;
  filter: alpha(opacity=100);
  cursor: hand;
  cursor: pointer;
}
.tabs-with-icon {
  padding-left: 18px;
}
.tabs-icon {
  position: absolute;
  width: 16px;
  height: 16px;
  left: 10px;
  top: 50%;
  margin-top: -8px;
}
.tabs-title {
  font-size: 12px;
}
.tabs-closable {
  padding-right: 8px;
}
.tabs-panels {
  margin: 0px;
  padding: 0px;
  border-width: 1px;
  border-style: solid;
  border-top-width: 0;
  overflow: hidden;
}
.tabs-header-bottom {
  border-width: 0 1px 1px 1px;
  padding: 0 0 2px 0;
}
.tabs-header-bottom .tabs {
  border-width: 1px 0 0 0;
}
.tabs-header-bottom .tabs li {
  margin: -1px 4px 0 0;
}
.tabs-header-bottom .tabs-tool {
  top: 0;
}
.tabs-header-bottom .tabs-scroller-left,
.tabs-header-bottom .tabs-scroller-right {
  top: 0;
  bottom: auto;
}
.tabs-panels-top {
  border-width: 1px 1px 0 1px;
}
.tabs-header-left {
  float: left;
  border-width: 1px 0 1px 1px;
  padding: 0;
}
.tabs-header-right {
  float: right;
  border-width: 1px 1px 1px 0;
  padding: 0;
}
.tabs-header-left .tabs-wrap,
.tabs-header-right .tabs-wrap {
  height: 100%;
}
.tabs-header-left .tabs {
  height: 100%;
  padding: 4px 0 0 4px;
  border-width: 0 1px 0 0;
}
.tabs-header-right .tabs {
  height: 100%;
  padding: 4px 4px 0 0;
  border-width: 0 0 0 1px;
}
.tabs-header-left .tabs li,
.tabs-header-right .tabs li {
  display: block;
  width: 100%;
  position: relative;
}
.tabs-header-left .tabs li {
  left: auto;
  right: 0;
  margin: 0 -1px 4px 0;
  float: right;
}
.tabs-header-right .tabs li {
  left: 0;
  right: auto;
  margin: 0 0 4px -1px;
  float: left;
}
.tabs-header-left .tabs li a.tabs-inner {
  display: block;
  text-align: left;
}
.tabs-header-right .tabs li a.tabs-inner {
  display: block;
  text-align: left;
}
.tabs-panels-right {
  float: right;
  border-width: 1px 1px 1px 0;
}
.tabs-panels-left {
  float: left;
  border-width: 1px 0 1px 1px;
}
.tabs-header-noborder,
.tabs-panels-noborder {
  border: 0px;
}
.tabs-header-plain {
  border: 0px;
  background: transparent;
}
.tabs-scroller-left {
  background: #f4f4f4 url('../images/easyui/tabs_icons.png') no-repeat 1px center;
}
.tabs-scroller-right {
  background: #f4f4f4 url('../images/easyui/tabs_icons.png') no-repeat -15px center;
}
.tabs li a.tabs-close {
  background: url('../images/easyui/tabs_icons.png') no-repeat -34px center;
}
.tabs li a.tabs-inner:hover {
  background: #e6e6e6;
  color: #00438a;
  filter: none;
}
.tabs li.tabs-selected a.tabs-inner {
  background-color: #ffffff;
  color: #777;

}
.tabs-header-bottom .tabs li.tabs-selected a.tabs-inner {

}
.tabs-header-left .tabs li.tabs-selected a.tabs-inner {

}
.tabs-header-right .tabs li.tabs-selected a.tabs-inner {

}
.tabs li a.tabs-inner {
  color: #777;
  background-color: #f4f4f4;
  
}
.tabs-header,
.tabs-tool {
  background-color: #f4f4f4;
}
.tabs-header-plain {
  background: transparent;
}
.tabs-header,
.tabs-scroller-left,
.tabs-scroller-right,
.tabs-tool,
.tabs,
.tabs-panels,
.tabs li a.tabs-inner,
.tabs li.tabs-selected a.tabs-inner,
.tabs-header-bottom .tabs li.tabs-selected a.tabs-inner,
.tabs-header-left .tabs li.tabs-selected a.tabs-inner,
.tabs-header-right .tabs li.tabs-selected a.tabs-inner {
  border-color: #D4D4D4;
}
.tabs-p-tool a:hover,
.tabs li a:hover.tabs-close,
.tabs-scroller-over {
  background-color: #e6e6e6;
}
.tabs li.tabs-selected a.tabs-inner {
  border-bottom: 1px solid #ffffff;
}
.tabs-header-bottom .tabs li.tabs-selected a.tabs-inner {
  border-top: 1px solid #ffffff;
}
.tabs-header-left .tabs li.tabs-selected a.tabs-inner {
  border-right: 1px solid #ffffff;
}
.tabs-header-right .tabs li.tabs-selected a.tabs-inner {
  border-left: 1px solid #ffffff;
}

.tabs-panels {
  border-color: transparent;
}
.tabs li a.tabs-inner {
  border-color: transparent;
  background: transparent;
  filter: none;
  color: #0088CC;
}

/* tooltip
----------------------------------*/
.tooltip {
  position: absolute;
  display: none;
  z-index: 9900000;
  outline: none;
  padding: 5px;
  border: 1px solid transparent;
}
.tooltip-content {
  font-size: 12px;
}
.tooltip-arrow-outer,
.tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  line-height: 0;
  font-size: 0;
  border: 6px solid transparent;
  _border-color: tomato;
  _filter: chroma(color=tomato);
}
.tooltip-right .tooltip-arrow-outer {
  left: 0;
  top: 50%;
  margin: -6px 0 0 -13px;
}
.tooltip-right .tooltip-arrow {
  left: 0;
  top: 50%;
  margin: -6px 0 0 -12px;
}
.tooltip-left .tooltip-arrow-outer {
  right: 0;
  top: 50%;
  margin: -6px -13px 0 0;
}
.tooltip-left .tooltip-arrow {
  right: 0;
  top: 50%;
  margin: -6px -12px 0 0;
}
.tooltip-top .tooltip-arrow-outer {
  bottom: 0;
  left: 50%;
  margin: 0 0 -13px -6px;
}
.tooltip-top .tooltip-arrow {
  bottom: 0;
  left: 50%;
  margin: 0 0 -12px -6px;
}
.tooltip-bottom .tooltip-arrow-outer {
  top: 0;
  left: 50%;
  margin: -13px 0 0 -6px;
}
.tooltip-bottom .tooltip-arrow {
  top: 0;
  left: 50%;
  margin: -12px 0 0 -6px;
}
.tooltip {
  background-color: #ffffff;
  border-color: #D4D4D4;
  color: #333;
}
.tooltip-right .tooltip-arrow-outer {
  border-right-color: #D4D4D4;
}
.tooltip-right .tooltip-arrow {
  border-right-color: #ffffff;
}
.tooltip-left .tooltip-arrow-outer {
  border-left-color: #D4D4D4;
}
.tooltip-left .tooltip-arrow {
  border-left-color: #ffffff;
}
.tooltip-top .tooltip-arrow-outer {
  border-top-color: #D4D4D4;
}
.tooltip-top .tooltip-arrow {
  border-top-color: #ffffff;
}
.tooltip-bottom .tooltip-arrow-outer {
  border-bottom-color: #D4D4D4;
}
.tooltip-bottom .tooltip-arrow {
  border-bottom-color: #ffffff;
}

/* window
----------------------------------*/
.window {
  overflow: hidden;
  padding: 5px;
  border-width: 1px;
  border-style: solid;
}
.window .window-header {
  background: transparent;
  padding: 0px 0px 6px 0px;
}
.window .window-body {
  border-width: 1px;
  border-style: solid;
  border-top-width: 0px;
}
.window .window-body-noheader {
  border-top-width: 1px;
}
.window .window-header .panel-icon,
.window .window-header .panel-tool {
  top: 50%;
  margin-top: -11px;
}
.window .window-header .panel-icon {
  left: 1px;
}
.window .window-header .panel-tool {
  right: 1px;
}
.window .window-header .panel-with-icon {
  padding-left: 18px;
}
.window-proxy {
  position: absolute;
  overflow: hidden;
}
.window-proxy-mask {
  position: absolute;
  filter: alpha(opacity=5);
  opacity: 0.05;
}
.window-mask {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  filter: alpha(opacity=40);
  opacity: 0.40;
  font-size: 1px;
  *zoom: 1;
  overflow: hidden;
}
.window,
.window-shadow {
  position: absolute;
}
.window-shadow {
  background: #ccc;
  -moz-box-shadow: 2px 2px 3px #cccccc;
  -webkit-box-shadow: 2px 2px 3px #cccccc;
  box-shadow: 2px 2px 3px #cccccc;
  filter: progid:DXImageTransform.Microsoft.Blur(pixelRadius=2,MakeShadow=false,ShadowOpacity=0.2);
}
.window,
.window .window-body {
  border-color: #D4D4D4;
}
.window {
  background-color: #f4f4f4;
  background: -webkit-linear-gradient(top,#ffffff 0,#f4f4f4 20%);
  background: -moz-linear-gradient(top,#ffffff 0,#f4f4f4 20%);
  background: -o-linear-gradient(top,#ffffff 0,#f4f4f4 20%);
  background: linear-gradient(to bottom,#ffffff 0,#f4f4f4 20%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff,endColorstr=#f4f4f4,GradientType=0);
}
.window-proxy {
  border: 1px dashed #D4D4D4;
}
.window-proxy-mask,
.window-mask {
  background: #ccc;
}


/* window Æ¤·ô×Ô¶¨Òå
--------------------------------------------------------*/
.window{padding: 0px;border: 1px solid #fff;}
.window .window-header{padding: 12px;background-color: #F3F3F3;}
.window .window-header .panel-title{padding-left: 15px;font-size: 18px;color: #017EF3;font-weight: normal;background: url(../images/easyui/title_dot.png) 0 50% no-repeat;}
.window .window-body{border-width: 0;}
.window .window-header .panel-tool{padding-right: 9px;}
.window .window-header .panel-icon, .window .window-header .panel-tool{margin-top: -9px;}
.window .window-body .dialog-toolbar, .window .window-body .dialog-button{background: #ECECEC;}
.window .dialog-button a.l-btn{font-size: 16px;}
.window .window-body{background-color: #F6F6F6;font-size: 16px;}

.window .messager-icon{width: 78px;height: 78px;background: url(../images/easyui/messager_icons2.png) 0 0 no-repeat;}
.window .messager-error{background-position: 0 0;}
.window .messager-info{background-position: -77px 0;}
.window .messager-question{background-position: -232px 0;}
.window .messager-warning{background-position: -154px 0;}
.messager-text{padding: 15px 0 15px 0;}

a.l-btn {background: #017EF3;color: #fff;border: 0 none;height: 38px;filter: none;}
a.l-btn span.l-btn-left {background: none;}
a:hover.l-btn {background: none;}
a.l-btn:hover{border: 0 none;background: #75ACEE;color: #fff;}
a.l-btn span span.l-btn-text{ height: 30px;line-height: 30px;font-size: 16px;}