@charset "utf-8";
/*-----------------------------------------------
    reset styles
-----------------------------------------------*/
html {
	color: #333;
	background: #fff;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,code,form,fieldset,legend,button,input,textarea,th,td{
	margin: 0;
	padding: 0;
}

iframe {
	display: block;
}

body,button,input,select,textarea {
	font: 12px/1.5 '\5b8b\4f53', tahoma, arial, sans-serif;
}

h1,h2,h3,h4,h5,h6 {
	font-size: 100%;
}

address,cite,dfn,em,var {
	font-style: normal;
}

code,kbd,pre,samp {
	font-family: courier new, courier, monospace;
}

pre {
	white-space: pre;
	white-space: pre-wrap;
	white-space: pre-line;
	word-wrap: break-word;
}

small {
	font-size: 12px;
}

ul,ol {
	list-style: none;
}

a,ins {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

del {
	text-decoration: line-through;
}

legend {
	*margin-left: -7px;
	color: #000;
}

fieldset,img {
	border: 0 none;
}

img {
	color: transparent;
	font-size: 0;
	vertical-align: middle;
	-ms-interpolation-mode: bicubic;
}

acronym,abbr {
	border-bottom: 1px dotted;
	font-variant: normal;
}

abbr {
	cursor: help;
}

blockquote {
	quotes: none;
}

blockquote:before,blockquote:after {
	content: "";
}

b,strong {
	font-weight: bold;
}

sub,sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

button,input,select,textarea {
	vertical-align: middle;
}

button,input[type="button"],input[type="reset"],input[type="submit"] {
	cursor: pointer;
	-webkit-appearance: button;
}

button[disabled],input[disabled] {
	cursor: default
}

input[type="checkbox"],input[type="radio"] {
	box-sizing: border-box;
	padding: 0
}

* html button {
	cursor: pointer;
}

button::-moz-focus-inner,input::-moz-focus-inner {
	padding: 0;
	border: 0;
}

textarea {
	overflow: auto;
	vertical-align: top;
	resize: vertical;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

th {
	text-align: inherit;
}

caption,th {
	text-align: left;
}

:focus {
	outline: 0;
}

a {
	color: #333;
}

a:hover {
	text-decoration: none;
	color: #1B84C1;
}

/*-----------------------------------------------
    common styles
-----------------------------------------------*/
/* text align */
.tc {
	text-align: center;
}

.tr {
	text-align: right;
}

.tj {
	text-align: justify;
	text-justify: inter-ideograph;
}

/* float and clear */
.fl {
	float: left;
	display: inline;
}

.fr {
	float: right;
	display: inline;
}

.cb {
	clear: both;
}

.tid {
	overflow: hidden;
	text-indent: 2em;
}

/* clear */
.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}

/* images hide text */
.hide-text {
	font: 0/0 a;
	color: transparent;
	text-shadow: none;
	background-color: transparent;
	border: 0;
	visibility: hidden;
}

/* contain floats */
.group:before,.group:after,.layout:before,.layout:after {
	content: "\0020";
	display: block;
	height: 0;
	overflow: hidden;
}

.group:after,.layout:after {
	clear: both;
}

.group,.layout {
	zoom: 1;
}

/*----------------------------------------------
    primary styles
----------------------------------------------*/
.container{padding: 15px;}
/* header */
#header {
	height: 55px;
	overflow: hidden;
}

.logo {
	float: left;
}

.dl-log {
	float: right;
}
/* sidebar */
#sidebar {
	width: 230px;
}
.menu-list{}
	.menu-list li{height: 22px;line-height: 22px;border-bottom: 1px dotted #eee;}
		.menu-list li a{display: block;padding: 0 10px 0 22px;}
		.menu-list li a:hover{background-color: #ddd;}
/* footer */
#footer {
	height: 28px;
	line-height: 28px;
	overflow: hidden;
}

.copyright {
	text-align: center;
}
/* mod
-----------------------------------------------*/
.mod .hd {
	height: 30px;
	line-height: 30px;
}

.mod .hd h2 {
	font-size: 14px;
}

.ui-table {
	table-layout: fixed;
	width: 100%;
	border: 1px solid #ddd;
}

.ui-table th,.ui-table td {
	padding: 5px;
	border-bottom: 1px solid #ddd;
	border-left: 1px solid #ddd;
}

.ui-table td {
	padding: 4px 5px;
}

.ui-table th:first-child,.ui-table td:first-child {
	border-left: 0 none;
}

.ui-table th {
	font-weight: bold;
	text-align: center;
	background: #ccc;
}

.ui-table tbody tr.even {
	background: #f0f0f0;
}

.ui-table tbody tr:hover {
	background: #FCF8E3;
}

/* pager */
.pager {
	margin: 10px 0 0;
	text-align: center;
	line-height: 24px;
	font-size: 0;
	letter-spacing: -0.307em;
	*letter-spacing: normal;
	*word-spacing: -1px;
	word-wrap: normal;
	white-space: nowrap;
	color: #999;
}

.pager a,.pager span {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	vertical-align: top;
	padding: 0 12px;
	margin: 0 4px;
	font-size: 12px;
	letter-spacing: normal;
	word-spacing: normal;
	text-shadow: 0 1px #fff;
}

.pager a,.pager a:hover {
	text-decoration: none;
	color: #39c;
}

.pager .page,.pager .start,.pager .prev,.pager .next,.pager .end {
	*overflow: visible;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	color: #fff;
	padding: 0 10px;
	height: 22px;
	line-height: 22px;
	border: 1px solid #1876B6;
	border-radius: 5px;
	font-size: 12px;
	letter-spacing: 1px;
	word-spacing: normal;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5);
	text-shadow: 0 -1px rgba(0, 0, 0, 0.2);
	background: #2A7CB7;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#46A0E1),
		to(#2A7CB7) );
	background: -webkit-linear-gradient(#46A0E1, #2A7CB7);
	background: -moz-linear-gradient(#46A0E1, #2A7CB7);
	background: -ms-linear-gradient(#46A0E1, #2A7CB7);
	background: linear-gradient(#46A0E1, #2A7CB7);
}

.pager .current {
	border: 1px solid #999999;
	background: #C1C1C1;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#cccccc),
		to(#C1C1C1) );
	background: -webkit-linear-gradient(#cccccc, #C1C1C1);
	background: -moz-linear-gradient(#cccccc, #C1C1C1);
	background: -ms-linear-gradient(#cccccc, #C1C1C1);
	background: linear-gradient(#cccccc, #C1C1C1);
}

.pager .page:hover,.pager .start:hover,.pager .prev:hover,.pager .next:hover,.pager .end:hover
	{
	background: #399dd8;
	color: #fff;
}

.pager .current:hover {
	background: #bbb;
}

/* btn-默认蓝色 */
.btn{display:inline-block;*display:inline;*zoom:1;*overflow:visible;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box;padding:0 12px;height:28px;line-height:28px;border:1px solid #2273B1;font-size:12px;letter-spacing:1px;word-spacing:normal;text-align:center;vertical-align:middle;cursor:pointer;
	background:#2A7CB7 url(../images/btn_bg.png) repeat-x 0 0;
	background:-webkit-gradient(linear,0% 0%,0% 100%,from(#46A0E1),to(#2A7CB7));
	background:-webkit-linear-gradient(#46A0E1,#2A7CB7);
	background:-moz-linear-gradient(#46A0E1,#2A7CB7);
	background:-ms-linear-gradient(#46A0E1,#2A7CB7);
	background:linear-gradient(#46A0E1,#2A7CB7);
}
button.btn{*height:30px;_line-height:25px;}
.btn,.btn:hover{color:#fff;text-decoration:none;}
.btn:hover,.btn:focus,.btn:active{background:#399dd8;}
.btn:active{box-shadow:inset 0 1px 4px rgba(0,0,0,0.2);}
.btn::-moz-focus-inner{padding:0;margin:0;border:0;}
.btn .btntxt{margin-right:3px;_vertical-align:middle;}
.btn .btnsel{display:inline-block;*display:inline;*zoom:1;width:0;height:0;overflow:hidden;vertical-align:middle;border-style:solid dashed dashed;border-width:4px 4px 0;border-color:rgba(255,255,255,0.8) transparent transparent;}
.btn:hover .btnsel,.btn:focus .btnsel{border-top-color:rgba(255,255,255,1);}

/* mini btn */
.btn-sm{padding:0 10px;height:22px;line-height:22px;}
button.btn-sm{*height:24px;*line-height:18px;}
.btn.disabled, .btn[disabled] {background:#399dd8;box-shadow: none;cursor: default;}

/* btn-gray */
.btn-gray{border:1px solid #999999;background:#C1C1C1 url(../images/btn_bg.png) repeat-x 0 -36px;background:-webkit-gradient(linear,0% 0%,0% 100%,from(#cccccc),to(#C1C1C1));background:-webkit-linear-gradient(#cccccc,#C1C1C1);background:-moz-linear-gradient(#cccccc,#C1C1C1);background:-ms-linear-gradient(#cccccc,#C1C1C1);background:linear-gradient(#cccccc,#C1C1C1);}
.btn-gray:hover,.btn-gray:focus,.btn-gray:active{background:#bbb;}

/* btn-red */
.btn-red{border:1px solid #c00;background:#D95124 url(../images/btn_bg.png) repeat-x 0 -68px;background:-webkit-gradient(linear,0% 0%,0% 100%,from(#FF6D3D),to(#D95124));background:-webkit-linear-gradient(#FF6D3D,#D95124);background:-moz-linear-gradient(#FF6D3D,#D95124);background:-ms-linear-gradient(#FF6D3D,#D95124);background:linear-gradient(#FF6D3D,#D95124);}
.btn-red:hover,.btn-red:focus,.btn-red:active{background:#DE5527;}
.btn-gray.disabled, .btn-gray[disabled] {background:#bbb;color: #fff;box-shadow: none;cursor: default;}
.btn-red.disabled, .btn-red[disabled] {background:#DE5527;color: #fff;box-shadow: none;cursor: default;}
.btn[disabled],.btn-gray[disabled],.btn-red[disabled]{*line-height:20px;}

/* btn-min */
.btn-min{display:inline-block;*display:inline;*zoom:1;*overflow:visible;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box;padding:0 10px;height:18px;line-height:18px;border:1px solid #A7C3DC;font-size:12px;letter-spacing:1px;word-spacing:normal;text-align:center;vertical-align:middle;cursor:pointer;
	background:#D6EAF6 url(../images/btn_bg.png) repeat-x 0 -102px;
	background:-webkit-gradient(linear,0% 0%,0% 100%,from(#F4FCFE),to(#D6EAF6));
	background:-webkit-linear-gradient(#F4FCFE,#D6EAF6);
	background:-moz-linear-gradient(#F4FCFE,#D6EAF6);
	background:-ms-linear-gradient(#F4FCFE,#D6EAF6);
	background:linear-gradient(#F4FCFE,#D6EAF6);
}
button.btn-min{*height:20px;_line-height:16px;}
.btn-min,.btn-min:hover{color:#205EA2;text-decoration:none;}
.btn-min:hover,.btn-min:focus,.btn-min:active{border: 1px solid #0081cb;background: #d1eff5 url(../images/btn_bg.png) repeat-x 0 -130px;color: #000;}
